on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: yannickvr/aws-profile-oidc-action@latest
        with:
          aws-profile-source: 'file.aws'
