on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    permissions:
      id-token: write
      contents: write    
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: yannickvr/aws-profile-oidc-action@7
        with:
          aws-profile-source: 'file.aws'
          actions-id-token-request-token: $ACTIONS_ID_TOKEN_REQUEST_TOKEN
          actions-id-token-request-url: $ACTIONS_ID_TOKEN_REQUEST_URL
